.disable{
    display: none !important;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}
header {
    width: 100vw;
    height: 10vh;
    background-color: rgb(83, 83, 83);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
}
footer {
    width: 100vw;
    height: 10vh;
    background-color: rgb(83, 83, 83);
}
.lnb{
    width: 250px;
    height: 100%;
    background-color: rgb(116, 116, 116);
}
.rnb{
    width: 250px;
    height: 100%;
    background-color: rgb(116, 116, 116);
}
.section-login{
    width: 10%;
    height: 60%;
    margin-right: 20px;
    height: 60px;
}
.button-login{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}
.content{
    background-color: rgb(146, 146, 146);
    width: 1000px;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-input-option{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-input-option-main{
    width: 100%;
    max-width: 916px;
    display: flex;
}
.section-input-option-main > div{
    margin-left: 10px;
}
.section-input-option-main > div:first-child{
    margin-left:-5px;
}
.input-link{
    width: 80%;
    max-width: 800px;
    font-size: 30px;
}
.section-input .blank{
    width: 10%;
    min-width: 100px;
}
.input-link-button{
    border: 1px solid black;
    width: 100px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 5px;
    background-color: orange;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}



.section-playlist{
    min-height: 600px;
    background-color: rgb(255, 101, 101);
    display: flex;
    flex-direction: column;
    padding : 10px 100px;
}
.section-playlist-show{
    width: 100%;
    height: calc(100% - 50px);
    border: 2px solid #000000;
    padding: 5px;

}
.section-playlist-show .item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top:5px;
    padding-bottom: 3px;
}
.section-playlist-selected{
    width: 100%;
    height: calc(100% - 50px);
}
#loading{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    position: absolute;
    margin-left: 200px;
}
.item .title-section{
    font-weight: 700;
    font-size: 20px;
    display: flex;
    
}
.item .title-section .index{
    margin-right: 10px;
}
.item .title{
    cursor: pointer;
}
.item .title a{
    color:black;
    text-decoration-line: none;
}
.item .title a:hover{
    font-weight: 1000;
    color: blueviolet;
}
.item .checkbox{
    font-weight: 700;
    font-size: 20px;
}