<div th:fragment="PrivacyPolicy">
    <div>
        [ 개인정보 보호 정책 ]</br>
    </div>

    <div class="signupBox">
        1. 수집하는 개인정보의 항목:</br>
        구글 이메일</br>
        사용자의 유튜브 플레이리스트 항목</br></br>
        
        2. 개인정보의 수집 및 이용목적:</br>
        구글 이메일은 사용자의 아이디로서 작동합니다.</br>
        사용자의 유튜브 플레이리스트 항목은 서비스 이용에 필요합니다.</br></br>

        3. 개인정보의 보유 및 이용기간:</br>
        수집한 개인정보의 보유 및 이용기간은 미 접속일 이후 3개월입니다.</br></br>

        4. 개인정보의 제공 및 공유:</br>
        수집한 정보는 제3자와 공유되거나 제공되지 않습니다.</br></br>

        5. 개인정보의 보호 조치:</br>
        보호조치로는 구글 API로 받은 정보를 직접적으로 DB에 저장하고, 서버에서만 데이터가 활용됩니다. 이를 통해 데이터의 유출이 방지됩니다.</br></br>

        6. 이용자의 권리와 행사 방법:</br>
        이용자는 개인정보 열람, 수정, 삭제 요청을 wsbg6006@gmail.com로 보내시면 됩니다.</br></br>

        7. 개인정보 보호책임자 연락처:</br>
        개인정보 보호책임자의 연락처는 wsbg6006@gmail.com입니다.</br></br>

        8. 정책 변경과 공지:</br>
        개인정보 보호 정책이 변경될 경우, 사용자에게 이메일로 공지됩니다.</br></br>
        2024.3.28
    </div>
</div>